:root {
  --bg-color: #F7FAFC;
  --fg-color: #000000;
  --font: "Rubik";
  --spacing: "-0.04em";
}

.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

section h1, section h2, section h3, section h4{
  font-family: var(--font);
  letter-spacing: var(--spacing);
  font-weight: 600;
}

section h1, section h2{
  font-size: 45px;
  line-height: 45px;
}

section h3{
  margin-top: 20px;
  font-size: 35px;
  line-height: 35px;
}

section h1{
  margin-bottom: 10px;
}

section h2{
  margin-bottom: 25px;
}

section p{
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #4f5c65;
}

section{
  padding: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#header:nth-child(odd) h1,
#header:nth-child(odd) h2,
#header:nth-child(odd) h3,
#header:nth-child(odd) p,
#header:nth-child(odd) .fas{
  color: var(--fg-color);
}

#content section:nth-child(even) h1,
#content section:nth-child(even) h2,
#content section:nth-child(even) h3,
#content section:nth-child(even) p,
#content section:nth-child(even) .fas{
  color: var(--fg-color);
}

#content section:nth-child(even){
  background-color: var(--bg-color);
}

#header:nth-child(odd){
  background-color: var(--bg-color);
}

.btn-secondary{
  font-family: "Rubik", sans-serif;
  border: 1px solid #000;
  font-size: 20px;
  padding: 8px 25px 8px 25px;
  margin-top: 25px;
  background-color: transparent;
}

.btn-secondary:hover{
  border: 1px solid #999;
  background-color: transparent;
}

#header:nth-child(odd) .btn-secondary{
  color: var(--fg-color);
  border-color: color: var(--fg-color);
}

#content:nth-child(odd) .btn-secondary{
  color: var(--fg-color);
  border-color: color: var(--fg-color);
}

.fa-big{
  font-size: 45px;
  margin-bottom: 15px;
}

.responsive-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


/* Then style the iframe to fit in the container div with full height and width */

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
