.edit{
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(img/cog.png);
  background-size: cover;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/*
#editor{
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #DDD;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
*/

.editor{
  overflow-y: auto;
}

#adder, #designer, #saver{
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #DDD;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  overflow-y: auto;
}


.editable > .container{
  border: 1px solid transparent;
}

.editable  > .container:hover{
  border: 1px dashed #333;
  cursor: pointer;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slidein-right {
  width: 400px;
  position: fixed;
  z-index: 100;
  top: 0;

  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  right: 0px;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.5s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  right: -400px;
}

.slidein-left{
    left: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: 0.5s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
  left: -300px;
}


.editor textarea{
  min-height: 200px;
  resize: none;
}

.editor-header{
  padding-bottom: 5px;
  background-color: #F8F8F8;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  border-bottom: 1px solid #DDDDDD;
  position: fixed;
  z-index: 99;
}

.slidein-left .editor-header{
  width: 300px;
}

.slidein-right .editor-header{
  width: 400px;
}

.editor-header h4{
  font-size: 16px;
  padding-top: 5px;
}

.close:hover{
  cursor: pointer;
}

.editor-content{
  padding: 20px;
  padding-top: 50px;
}

.editor-content:first-child{
  margin-top: 0;
}

.label{
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #212529;
}

.save{
  margin-top: 30px;
}

.box{
  display: block;
  border: 1px solid #DDD;
  margin-bottom: 10px;
}

.box:hover{
  background-color: #F8F8F8;
  cursor: pointer;
  text-decoration: none;
}

#dock{
  position: fixed;
  bottom: 15px;
  text-align: center;
  width: 300px;
  left: calc(50% - 150px);
}

#dock img{
  width: 60px;
  margin: 5px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); cursor: pointer; }

#editor .btn-outline-danger{
  border: 1px solid #6c757d;
  color: #6c757d;
}

#editor .btn-primary{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 370px;
}

.swatch{
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DDD;
}

.fa-center{
  margin-top: 8px;
}

.w-100px{
  width: 100px;
}

a.list-group-item{
  color: black;
}

a.list-group-item:hover{
  background-color: #F8F8F8;
  text-decoration: none;
  cursor: pointer;
}

.info{
  padding-top: 5px;
  color: #777;
}
