/*
#editor{
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #DDD;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
*/

.editor{
  overflow-y: auto;
}

#adder, #designer{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #DDD;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.editable > .container{
  border: 1px solid transparent;
}

.editable  > .container:hover{
  border: 1px dashed #333;
  cursor: pointer;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slidein-right {
  width: 400px;
  padding: 25px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.slide-right-enter-active, .slide-right-leave-active {
  right: -100%;
}

.editor textarea{
  min-height: 200px;
  resize: none;
}

.editor-header{
  padding-bottom: 15px;
}

.editor-header h4{
  font-size: 18px;
  padding-top: 3px;
}

.close:hover{
  cursor: pointer;
}

.label{
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #212529;
}

.save{
  margin-top: 30px;
}

.box{
  display: block;
  border: 1px solid #DDD;
  margin-bottom: 10px;
}

.box:hover{
  background-color: #F8F8F8;
  cursor: pointer;
  text-decoration: none;
}

#dock{
  position: fixed;
  bottom: 15px;
  text-align: center;
  width: 300px;
  left: calc(50% - 150px);
}

#dock img{
  width: 60px;
  margin: 5px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); cursor: pointer; }

#editor .btn-outline-danger{
  border: 1px solid #6c757d;
  color: #6c757d;
}

#editor .btn-primary{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 370px;
}

.swatch{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  margin-top: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.fasearch {
  .fasearch-content {
    padding: 5px;
    max-height: 400px;
    min-height: 100px;
    overflow: hidden auto;
    position: absolute;
    background: white;
    z-index: 999;
    left: 6px;
    right: 6px;
    box-shadow: 0 0 1px 0px;

    button {
      width: 70px;
    }
  }

  .tab-pane {
    box-sizing: border-box;
    position: relative;
  }
}
